extends /layout/application.pug

block title
  h3= t('tasks.edit.title', task)

block content
  +formFor()(action=urlFor('updateTask', { id: task.id }) method='post')
    +input(task, 'name', t('entity.Task.attributes.name'), errors)
    +input(task, 'description', t('entity.Task.attributes.description'), errors)
    +select(task, statuses, 'status', t('entity.Task.attributes.status'), errors)
    +select(task, users, 'assignedTo', t('entity.Task.attributes.assignedTo'), errors)
    +input(task, 'tags', t('entity.Task.attributes.tags'), errors)
    input(type="hidden" name="_method" value="patch")

    +submit(task)(value=t('tasks.edit.form.submit'))
