extends /layout/application.pug

block title
  h3= t('users.new.edit')

block content
  // div= user
  // +formFor()(action=urlFor('updateUser', { id: user.id }) method='post')
    // +input(user, 'firstName', t('users.form.firstName'))(type="text")
    // +input(user, 'lastName', t('users.form.lastName'))(type="text")
    // +input(user, 'email', t('users.form.email'))(type="text")
    // +input(user, 'password', t('users.form.password'))(type="password")
    // +input(user, '_method')(type="hidden")
    // +submit(user)(value=t('users.form.submit'))
