extends /layout/application.pug

block title
  h3= t('users.edit.title', user)

block content
  +formFor()(action=urlFor('updateUser', { id: user.id }) method='post')
    +input(user, 'firstName', t('entity.User.attributes.firstName'))
    +input(user, 'lastName', t('entity.User.attributes.lastName'))
    input(type="hidden" name="_method" value="patch")
    +submit(user)(value=t('users.edit.form.submit'))
