extends /layout/application.pug

block title
  h3= t('users.new.title')

block content
  +formFor()(action=urlFor('users') method='post')
    +input(user, 'firstName', t('entity.User.attributes.firstName'), errors)
    +input(user, 'lastName', t('entity.User.attributes.lastName'), errors)
    +input(user, 'email', t('entity.User.attributes.email'), errors)
    +input(user, 'password', t('entity.User.attributes.password'), errors)(type="password")
    +submit(user)(value=t('users.new.form.submit'))
