include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    meta(chrset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='/assets/main.js')
  body
    include _menu
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-info.m-3= msg
          button.close('data-dismiss'="alert")
            span &times;

      block title

      block content

      include _paginate
