doctype html
html.h-100(lang="en")
  head
    title= Title
    meta(chrset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.0/css/all.css", crossorigin="anonymous", integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ")
    script(src='/assets/main.js')
    script.
      const gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.h-100
    include _menu
    .container.h-100.overflow-hidden.d-flex.flex-column
      block title
      block content
    script(src='/assets/chat.js')
